{
    "extends": "./node_modules/coding-standard/.eslintrc",

    "rules": {
        "indent": [
            2,
            2,
            {"VariableDeclarator": 2}
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "windows"
        ],
        "semi": [
            2,
            "always"
        ]
    },
    "env": {
        "es6": true,
        "node": true
    },
    "extends": "eslint:recommended"
}